<div class="houses-grid-container">
  <a routerLink="/houses/gryffindor" class="house-card gryffindor-card">
    <img
      src="https://static.wikia.nocookie.net/harrypotter/images/b/b1/Gryffindor_ClearBG.png/revision/latest?cb=20190222162949"
      alt="Gryffindor Emblem"
      class="house-emblem"
    />
    <h3 class="house-title">Gryffindor</h3>
  </a>

  <a routerLink="/houses/slytherin" class="house-card slytherin-card">
    <img
      src="https://static.wikia.nocookie.net/harrypotter/images/0/00/Slytherin_ClearBG.png/revision/latest?cb=20161020182557"
      alt="Slytherin Emblem"
      class="house-emblem"
    />
    <h3 class="house-title">Slytherin</h3>
  </a>

  <a routerLink="/houses/ravenclaw" class="house-card ravenclaw-card">
    <img
      src="https://static.wikia.nocookie.net/harrypotter/images/7/71/Ravenclaw_ClearBG.png/revision/latest?cb=20161020182442"
      alt="Ravenclaw Emblem"
      class="house-emblem"
    />
    <h3 class="house-title">Ravenclaw</h3>
  </a>

  <a routerLink="/houses/hufflepuff" class="house-card hufflepuff-card">
    <img
      src="https://static.wikia.nocookie.net/harrypotter/images/0/06/Hufflepuff_ClearBG.png/revision/latest?cb=20161020182518"
      alt="Hufflepuff Emblem"
      class="house-emblem"
    />
    <h3 class="house-title">Hufflepuff</h3>
  </a>
</div>
